body
{
    background-color: rgb(173, 142, 142);
}
h1
{
    background-color: chocolate;
}

p
{
    background-color: rgb(61, 48, 29);
}

#para1
{
    background-color: rgb(176, 148, 35);
}

button
{
    color: #b92f2f;
    background-color: rgb(12, 74, 74);
}